{% extends 'base.html' %}
{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"
    type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/validate_date.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
            var role_id = {{ role.id }};
            var questions;
            var choices;
            var uid_list = new Array();
            form_html = '<hr/><form action="" method="post" class="entry_form">';
            form_html += $('.entry_form:first').clone().html();
            form_html += '</form>';

            for(i=0;i<20;i++){
            $(form_html).insertAfter($('.entry_form:last'));
            }

            $('#date').live('change', function(){
                var d=$(this).val();
                $('.hidden_date').each(function(){
                    $(this).val(d);
                    });
                });

            $.getJSON('/get-choices/'+role_id, function(data){
                    choices = data;
                    $.getJSON('/get-questions/'+role_id, function(data){
                        questions = data;
                        $('.entry_form').each(function(){
                            var output = '<input type="hidden" name="date" class="hidden_date" value="'+$('#date').val()+'"></input>';
            $(output).insertBefore($(this).find('.uid'));

                            index=0;
                            $(this).find('.question').each(function(){
                                output = '<tr><th>' + questions[index].fields.name + '</th></tr>';
                                $(output).insertAfter($(this));
                                output = '<option value="" selected="selected">---------</option>';
                                for(i=0;i<choices.length;i++){
                                if(choices[i].fields.question==questions[index].pk)
                                output += '<option value="'+choices[i].pk+'">'+choices[i].fields.name+'</option>';
                                }
                                $(this).parent().find('.choice').html(output);
                                $(this).val(questions[index].pk);
                                index += 1;
                                });
                            });
                        });
                    });

            $.getJSON('/get-uid-list/'+role_id, function(data){
                    for(i=0;i<data.length;i++){
                    uid_list.push(String(data[i].fields.uid));
                    }
                    $(".uid").each(function(){
                        $(this).autocomplete({source: uid_list});
                        });
                    });


            $('#date').datepicker({dateFormat:'yy-mm-dd', inline:true});
            $('#date').live('change', function(){
                    if(isDate($(this).val())==false){
                    $(this).focus();
                    return false;
                    }
                    return true;
                    });
            $(".entry_form").each(function(){
                    $(this).submit(function(e){
                        e.preventDefault();
                        //validating date
                        if(isDate($('#date').val())==false){
                        return false;
                        }

                        //validating uid
                        if($(this).find('.uid').val() == ''){
                        alert("UID can't be left empty");
                        return false;
                        }
                        else{
                        if ($.inArray($(this).find('.uid').val(), uid_list)==-1){
                        alert("You have entered invalid UID.\nPlease retype and select one from suggestions.");
                        return false;
                        }
                        }

                        //checking if choices were selected.
                        var errors_count = 0;
                        $(this).find('.choice').each(function(){
                                if($(this).val()==''){
                                alert("All questions need to be answered.");
                                errors_count += 1;
                                return false;
                                }
                                });
                        if(errors_count>0)
                            return false;

                        //It means form was valid
                        var form=this;
                        $.ajax({
type: "POST",
url:$(this).attr('action'),
data:$(this).serialize(),
success:function(response){
if(String(response)=='Success'){
$(form).find('#errors').remove();
$(form).hide();
$('<b style="color:green; display:block;">Form has been submitted successfully.</b>').insertAfter($(form));
var uid = $(form).find('.uid').val();
uid_list = $.grep(uid_list, function(val) {return val != uid; });
if(uid_list.length==0){
$('.entry_form').each(function(){
    $(this).hide();
    });
$('<h3 style="color:blue;">No more UIDs left for this surveyor.</h3>').insertAfter($('#date'));
return true;
}
$('.uid').each(function(){
    $(this).autocomplete({source: uid_list});
    });
return true;
} else {
$(form).find('#errors').remove();
$('<b style="color:red; display:block;" id="errors">Some errors in form.</b>').insertAfter($(form).find('.submit').parent());
return false;
}
}
});
});
});

});
</script>
<link rel='stylesheet' href="{{ STATIC_URL }}css/jquery-ui-1.8.13.custom.css" type = "text/css"/>
{% endblock %}
{% block content %}
<h3>Add Completed Surveys</h3>
<table>
    <tr>
        <th>Name of Surveyor:</th>
        <td>{{ role.name }}</td>
    </tr>
    <tr>
        <th>Date of completion:</th>
        <td><input type="text" name="date" value="{{ date|date:"Y-m-j" }}" id="date"></td>
    </tr>
</table>
<form action="" method="post" class="entry_form">
    {{ formset.management_form }}
    <table>
        {{ formset.non_form_errors.as_ul }}
        {% for field in uid_form %}
        <th>{{ field.label }} : </th>
        <td>
            {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% endif %}
            {{ field }}
        </td>
        {% endfor %}
        {% for form in formset %}
        <td>
            <table>
                {% for field in form.visible_fields %}
                <tr><td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                </td></tr>
                {% endfor %}
            </table>
        </td>
        {% endfor %}
        <td><input type="submit" value="Submit" class=".submit"/></td>
        {% csrf_token %}
    </table>
</form>
<!--<a href="javascript:void(0)" class="add-row">
    <img src="{{ STATIC_URL }}admin/img/admin/icon_addlink.gif" title="Add another form"/>
</a>
-->
{% endblock %}
