{% extends 'base.html' %}
{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"
    type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"
    type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/add_form.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
            $('.add-row').click(function(){
                return addForm(this, 'form');
                });
            $('.delete-row').click(function(){
                return deleteForm(this, 'form');
                });
            $('#date').datepicker({dateFormat:'yy-mm-dd', inline:true});
    });
</script>
<link rel='stylesheet' href="{{ STATIC_URL }}css/jquery-ui-1.8.13.custom.css" type = "text/css"/>
{% endblock %}
{% block content %}
<h3>Add Completed Surveys</h3>
<table>
        <tr>
            <th>Name of Surveyor:</th>
            <td>{{ role.name }}</td>
        </tr>
        <tr>
            <th>Date of completion:</th>
            <td><input type="text" name="date" value="{{ date|date:"Y-m-j" }}" id="date"></td>
        </tr>
    </table>
<form action="" method="post" class="entry_form">
    {{ formset.management_form }}
    <table>
        {{ formset.non_form_errors.as_ul }}
        {% for field in uid_form %}
        <th>{{ field.label }} : </th>
        <td>
            {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% endif %}
            {{ field }}
        </td>
        {% endfor %}
        {% for form in formset %}
        <td>
            <table>
                {% for field in form.visible_fields %}
                <tr><td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                </td></tr>
                {% endfor %}
            </table>
        </td>
        {% endfor %}
        <td><input type="submit" value="Submit" /></td>
        <td>{% csrf_token %}</td>
    </table>
</form>
<a href="javascript:void(0)" class="add-row">
    <img src="{{ STATIC_URL }}admin/img/admin/icon_addlink.gif" title="Add another form"/>
</a>
{% endblock %}
