{% extends 'base.html' %}

{% block content %}
<a class="button" href="/">Home</a> >
<a class="button" href="{% url manage-uids role.id %}">Manage UIDs</a>

<p>
    You have responsibility for managing {{ role.managed_uids.count }} pending
    UID{{ role.managed_uids.count|pluralize }} of which
    {{ role.uidstatuses.pending.count }}
    {{ role.uidstatuses.pending.count|pluralize:"is,are" }} yet to be divided in
    your subordinates.
</p>
<h3>Distribute UID management to subordinates:</h3>
<table class="styled">
    <tr>
        <th>Subordinate</th>
        <th>UIDs assigned</th>
    </tr>
    {% for sub in role.get_children %}
    <tr>
        <td>{{ sub }}</td>
        <td>{{ sub.uidstatuses.count }}</td>
        <td><a class="button" href="{% url manage-sub-uids role.id sub.id %}">Manage</a></td>
    </tr>
    {% endfor %}
</table>
{% if role.uidstatuses.all %}
<p>
    <a href='{% url auto-distribute-uids role.id %}' class="button" title="Equally assign UIDs to subordinates">Automatically distribute</a>
</p>
{% endif %}

{% endblock %}
