{% extends 'base.html' %}
{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"
    type="text/javascript">
</script>
<script type="text/javascript">
    $(document).ready(function(){
            var index = 0;
            var error_types = new Array();
            var error_list;
            $.getJSON('/get-error-types/', function(data){
                error_list = data;
                for(i=0; i<error_list.length;i++){
                if(error_list[i].fields.level == 0)
                error_types.push(error_list[i]);
                }
                //alert(error_types.length);
                $(".error_types").each(function(){
                    $(this).val(error_types[index].pk).change();
                    $(this).attr("disabled", "disabled");
                    index += 1;
                    });
                //alert('Fetched ' + error_list.length + ' items!');
                });
            $("#survey_status").live("change", function(){
                    if($("#survey_status").attr("checked")==true)
                    $("#errors").show("slow");
                    else
                    $("#errors").hide("slow");
                });
            $(".error_types").live('change', function(){
                error_type = $(this);
                $(".sub_errors").each(function(){
                    if (String(jQuery(this).attr("form_id")) == String(
                            error_type.get(0).id)) {
                    $(this).remove();
                    }
                    });
                sel_error = parseInt($(this).val());
                if (isNaN(sel_error) == false) {
                var output = "&nbsp;&nbsp;"
                output += "<select class=\"sub_errors\" level=\"1\"";
                output += "id=\"id_sub_errors_1\" form_id=\"";
                output += jQuery(this).get(0).id + "\">";
                output += "<option value=\"\" selected=\"selected\">";
                output += "------------</option>";
                for (i = 0; i < error_list.length; i++) {
                if (error_list[i].fields.parent == sel_error) {
                output += "<option value=\"" + error_list[i].pk +
                "\">" + error_list[i].fields.name + "</option>";
                }
                }
                output += "</select>&nbsp;&nbsp;";
                $(output).insertAfter($(this));
                }
            });
            $(".sub_errors").live('change', function(){
                    sel_sub_error_form_id = $(this).attr("form_id");
                    sel_sub_error = parseInt($(this).val());
                    level = jQuery(this).attr("level");
                    child_count = 0;
                    if (isNaN(sel_sub_error) == false) {
                    level = parseInt(level) + 1;
                    $(".sub_errors").each(function(){
                        if (parseInt(jQuery(this).attr("level")) >= level) {
                        if(String(jQuery(this).attr("form_id")) == String(
                                sel_sub_error_form_id))
                        $(this).remove();
                        }
                        });
                    var output = "&nbsp;&nbsp;"
                    output += "<select class=\"sub_errors\" level=\"" +
                    level + "\" id=\"id_sub_errors_" + level +
                    "\" form_id=\"" + sel_sub_error_form_id + "\">";
                    output += "<option value=\"\" selected=\"selected\">" +
                    "------------</option>";
                    for (i = 0; i < error_list.length; i++) {
                        if (error_list[i].fields.parent == sel_sub_error) {
                            child_count += 1;
                            output += "<option value=\"" + error_list[i].pk +
                                "\">" + error_list[i].fields.name + "</option>";
                        }
                    }
                    output += "</select>&nbsp;&nbsp;";
                    if (child_count > 0) {
                        $(output).insertAfter($(this));
                    }
                    }
            });


    });
</script>
{% endblock %}
{% block content %}
<fieldset class="module aligned ">
    {% for field in uid_status_form %}
    <div class="form-row">
        <div class="field-box">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    </div>
    {% endfor %}
</fieldset>
<input type="checkbox" id="survey_status"/>Incomplete<br/>
<fieldset class="module aligned " style="display:none;" id="errors">
    <h2>Errors</h2>
    <table">
        {% for f in uid_error_formset.forms %}
        <tr class="error_forms">
            {% for field in f %}
            {% if not field.is_hidden %}
            <td>
                {{ field.errors }}
                {{ field }}
            </td>
            {% else %}
            <td valign="middle">
                {{ field }}
            </td>
            {% endif %} 
            {% endfor %} 
        </tr>
        <br/>
        {% endfor %}
    </table>
</fieldset>
{% endblock %}
