{% extends 'base.html' %}
{% load adminmedia %}
{% block head %}
<script type="text/javascript">
    head.js('/static/js/jquery.formset.min.js');

// Updates the dates in formset forms
function updateDates(){
    return;
    date_input_val = $("#formsetDate").val();
    date_fields = $('[id$="-date"]');
    date_fields.datepicker({dateFormat:'yy-mm-dd', inline:true});
    date_empty_fields = $('[id$="-date"]');

    // For each form date field add the global date value if none is
    // already present
    date_fields.each(function(index){
        if (!this.value){
            this.value = date_input_val;
        };
    });
};

head.ready(function(){
    $.datepicker.setDefaults({dateFormat:'yy-mm-dd'});

    //$(function() {
    //    $('#formsetForm tbody tr').formset({'added':updateDates});
    //});

    $(function() {

        // Create the global datepicker
        $('[id$="-date"]').datepicker({
            onSelect: updateDates
        });
        // Set global datepicker value to now
        //$('#formsetDate').datepicker("setDate", now);

        // Update all empty dates to pick value from global datepicker
        //updateDates();
    });
});
</script>
{% endblock %}

{% block content %}
<a class="button" href="/">Home</a> >
<a class="button" href="{% url update-uids role.get_questionnaire.id %}">Update UIDs status</a> >
<a class="button" href="{% url update-completed role.get_questionnaire.id %}">Update completed UIDs</a>
<!--
   -<p>
   -    Date: <input type="text" name="completion_date" id="formsetDate"/>
   -</p>
   -->
<form id="formsetForm" method="post" action="">
    <table widht="100%">
        <tbody>
            <tr>
                {% for field in formset.empty_form.visible_fields %}
                <td>{{ field.label }}</td>
                {% endfor %}
            </tr>
            {% for form in formset.forms %}
            <tr>
                {% for field in form.hidden_fields %}
                <td class="hidden">{{ field }}</td>
                {% endfor %}
                {% for field in form.visible_fields %}
                <td>{% if field.errors %}{{ field.errors }}{% endif %}{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ formset.management_form }}
    <br/>
    {% csrf_token %}
    <input type="submit" value="Post"/>
</form>
{% endblock %}
