{% extends 'base.html' %}

{% block content %}
<a class="button" href="/">Home</a> >
<a class="button" href="{% url update-uids role.get_questionnaire.id %}">Update UIDs status</a>

<h3>Update subordinates UIDs status:</h3>
<table class="styled">
    <tr>
        <th>Surveyor</th>
        <th>Completed</th>
        <th>Not Completed</th>
        <th>Pending UIDs</th>
    </tr>
    {% for surveyor in surveyors %}
    <tr>
        <td>{{ surveyor.name }}</td>
        <td><a class="button" href="{% url add-completed-entry role.get_questionnaire.id surveyor.id %}">Add</a></td>
        <td><a class="button" href="{% url add-uncompleted-entry role.get_questionnaire.id surveyor.id %}">Add</a></td>
        <td>{{ surveyor.uids.pending.count }}</td>
    </tr>
    {% endfor %}
</table>

<a class="button" href="{% url update-completed role.get_questionnaire.id %}">General Add</a>
{% endblock %}
